<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


<!-- ===================== Caster xacro =========================================

  Xacro to create caster links and the respective joints.

  params:
  - reflect [1/-1]: value to set the side of the caster;
  - use_fixed [bool]: wheter to use a fixed model or not
  - wheel_props [dictionary]: wheel properties;
  - base_props [dictionary]: base link properties;
  - mesh [string]: file name of the wheel mesh;
    - DEFAULT Value -> Empty string
-->

<!-- Caster wheel link & joint macro -->
  <xacro:macro name="caster_wheel"
                params="use_fixed wheel_props locationright:=${0} scale:=''">
    <link name="caster_base_link">
      <xacro:box_inertia  m="${wheel_props['mass']}"
                          x="${wheel_props['size']['x']}"
                          y="${wheel_props['size']['y']}"
                          z="${wheel_props['size']['z']}"
                          o_xyz="0.0 0.0 ${-wheel_props['size']['z']/2.0}"
                          o_rpy="0.0 0.0 0.0" />
      <xacro:if value="${wheel_props}['mesh'] != '' }" >
        <visual>
          <origin xyz="0 0 ${-wheel_props['size']['z']/2.0}" rpy="0 0 0" />
          <geometry>
            <xacro:if value="${scale != '' }" >
              <mesh filename="package://rusty_description/meshes/${robot_name}/${wheel_props['mesh']}" scale="${scale}"/>
            </xacro:if>
            <xacro:if value="${scale == '' }" >
              <mesh filename="package://rusty_description/meshes/${robot_name}/${wheel_props['mesh']}" />
            </xacro:if>
          </geometry>
          <material name="silver"/>
        </visual>
      </xacro:if>
      <xacro:if value="${wheel_props['mesh'] == '' }" >
        <visual>
          <origin xyz="0 0 ${-wheel_props['size']['z']/2.0}" rpy="0 0 0" />
          <geometry>
            <box size="${wheel_props['size']['x']} ${wheel_props['size']['y']} ${wheel_props['size']['z']}" />
          </geometry>
          <material name="red"/>
        </visual>
      </xacro:if>
      <collision>
        <origin xyz="0 0 ${-wheel_props['size']['z']/2.0}" rpy="0 0 0" />
        <geometry>
          <box size="${wheel_props['size']['x']} ${wheel_props['size']['y']} ${wheel_props['size']['z']}" />
        </geometry>
      </collision>
    </link>
    <joint name="caster_joint" type="fixed">
      <origin xyz="${wheel_props['dx']} ${-wheel_props['dy'] * locationright} ${wheel_props['dz']}"
              rpy="0 0 0" />
      <parent link="base_link" />
      <child link="caster_base_link" />
      <axis xyz="0 0 1" />
      <dynamics damping="0.01" friction="0.0"/>
    </joint>
</robot>